attrs==21.2.0
cloudpickle==1.6.0
decorator==5.0.9
iniconfig==1.1.1
numpy==1.20.3
onnx==1.9.0
packaging==20.9
pluggy==0.13.1
protobuf==3.17.3
psutil==5.8.0
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
scipy==1.6.3
six==1.16.0
toml==0.10.2
torch==1.8.1
tornado==6.1
typing-extensions==3.10.0.0
xgboost==1.4.2
